.App {
  text-align: left;
}

.App-logo {
  /* animation: App-logo-spin infinite 2s alternate; */
  height: 80px;
  /*margin-left: 10px;*/
  float: right;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  float: left;
}

.App-intro {
  font-size: large;
}

.App-para {
  color: blue;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Workout-form {
  float: right;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(49, 168, 247);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(20, 129, 231);
}

#exercises {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#exercises td, #exercises th {
  border: 1px solid #ddd;
  padding: 8px;
}

#exercises tr:nth-child(even){background-color: #f2f2f2;}

#exercises tr:hover {background-color: #ddd;}

#exercises th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(133, 133, 133);
  color: white;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* @keyframes App-logo-spin {
  0% { transform: translateY(0); }
  100% { transform: translateY(70px); }
} */
